body{
    background-image: linear-gradient(to bottom right, cornflowerblue, lightblue);
    color: rgb(9, 20, 41);
    text-shadow: 1px 1px 3px goldenrod;
}

div{
    text-align: center;
    border-radius: 5px;
    border-color: goldenrod;
    border-style: dotted;
    align-content: center;
}

button{
    color: rgb(9, 20, 41);
    background-color: cornsilk;
    border-radius: 5px;
    border-color: goldenrod;
}