body{
    text-align: left;
    padding-left: 70px;
    background-image: linear-gradient(to bottom right, lightblue,cornflowerblue);
}

button{
    border-radius: 5px;
    border-color: rgb(126, 103, 75);
    border-style: dotted;
    background-color: azure;
    font-weight: bold;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    color: rgb(9, 23, 49);
}

p{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    font-size: larger;
    color: rgb(9, 23, 49);
}

img{
    float: right;
    padding-right: 10px;
    width: 70%;
}

h1{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    color: rgb(9, 23, 49);
    text-align: center;
      
}

select,input{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
}

h3{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}