@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

}

main {
    min-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
}

section {
    width: 960px;
    margin: 0 auto;
}

h1, section, article {
    margin-bottom: 1rem;
}

#botoes {
    display: inline-block;
    margin-bottom: 1rem;
}

/* botoes */
button {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.625rem;
    cursor: pointer;
}

/* botao light */
#btlight {
    background: #ededed;
    color: #b5b5b5;
    background-image: url(../img/flor.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* botao dark */
#btdark {
    background-color: #263238;
    color: #808080;
    background-image: url(../img/florpreta.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*botao rosa*/
#btpink {
    background-color: rgb(231, 146, 191);
    color: rgb(117, 73, 80);
    background-image: url(../img/florRosa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*botao blue*/
#btblue {
    background-color: #76b2d8;
    color: #191970;
    background-image: url(../img/flores_azuis.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*botao yellow*/
#btyellow {
    background-color: #f1e9a1;
    color: #9e8a18;
    background-image: url(../img/floramarela.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* articles com a class box */
.box {
    padding: 0.625rem;
    border-radius: 8px;
}

/* Estilos para serem usados via JS */
.light {
    background: #fff;
    color: #b5b5b5;
    
}

.dark {
    background: #222;
    color: #636363;
}


.pink{
    background-color: pink;
    color: rgb(122, 66, 75);
    
}

.blue{
    background-color: #87CEFA;
    color: #191970;
    
}

.yellow{
    background-color: #FFFACD;
    color: #FFD700;
    
}
