header,body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    }
    
    button{
    width: 95px;
    border-radius: 25px;
    border-color: cornflowerblue;
    color: rgb(17, 33, 112);
    }
    
    body{
        background-color: rgb(228, 232, 238);
    }
    
    img{
    border-radius: 30px;
    }